.main-slider {

  .slider-content {
    padding: var(--space-xxl) var(--space-lg);
  }

  p {
    color: var(--color-white);
  }

  .left-4,
  .right-4 {
    min-width: 40px;
    padding: var(--space-xs);
  }

  .slider-dots button {
    padding: var(--space-xxs);
  }
}