@use 'variables' as *;
@use 'base';
@use 'header';
@use 'footer';
@use 'layout';
@use 'desktop';

/* Add other component imports here, for example:
   @import 'components/_buttons';
   @import 'components/_forms';
*/